# MARVEL / Canu comparison

[Canu](https://github.com/marbl/canu) and [MARVEL](https://github.com/schloi/MARVEL) run on aggregated JS734 PacBio RSII data at [/g/steinmetz/project/IESY/sequencing/Data/PacBio/combined/JS734_combined.fastq](../../IESY/sequencing/Data/PacBio/combined/JS734_combined.fastq). Sequencing with P6C4 chemistry.

Canu Quast results available [here](../..//IESY/sequencing/Results/PacBio/Canu/AB/JS734_combined/quast/report.html)

    Hi Aaron, 

    attached are the results from Marvel. I didnâ€™t correct the contigs, i.e. they still have the raw error rate of 12%.
    However, it should be possible to map them to a reference to see whats going on in your repeat region. 

    I have to say, the reads are not very good. I.e. mean read length is only 6.5kb and also the mean 
    error rate also not good. I lost 20% during patching and another 30% during the scrubbing steps. Usually 
    Its less than 10% for both steps. The data is P4C2 from RSII, right?

    I attached 3 different contig sets. 
    Plz check the filtered contigs first, those are without any repeat resolving step. 

    Filtered_m tries to identify repeat modules in the overlaps and filtered_mm is the most greedy repeat resolving method.
    I also kept the dot files within the filtered* folders. Those can be opened with Gephi (only version 0.8.2!!!)  and show 
    you the overlap graphs. 

    Let me know, if Marvel is of any use for you.  

    Cheers,
    Martin
    
<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>

In [1]:
%matplotlib inline
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
from importlib.machinery import SourceFileLoader
import sys, os
import site
# add conda packages path
sys.path.append("/g/steinmetz/brooks/anaconda/envs/crimp/lib/python3.5/site-packages/")
site.addsitedir("/g/steinmetz/brooks/anaconda/envs/crimp/lib/python3.5/site-packages/")
import pickle
import pandas as pd
import time
from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord
import random
import networkx as nx
import itertools
import glob

sys.path.append("/g/steinmetz/project/IESY/software/crimp/")
from crimp import utils

In [2]:
marvelDIR="/g/steinmetz/project/IESY/sequencing/Results/PacBio/marvel/"
files1 = glob.glob(marvelDIR + "filtered/*.fasta")
files2 = glob.glob(marvelDIR + "filtered_m/*.fasta")
files3 = glob.glob(marvelDIR + "filtered_mm/*.fasta")

In [3]:
def keepLongest(i, name):
    reads = utils.readFASTA_SeqIO(i)
    longest = 0
    for read in reads.values():
        #print(len(read))
        if len(read) > longest:
            o = read
            longest = len(read.seq)
    o.id = name
    o.name = name
    return(o)

# keep only longest contig
seqs1 = [keepLongest(i, "contig" + i.rstrip(".fasta").split("_")[-1]) for i in files1]
seqs2 = [keepLongest(i, "contig" + i.rstrip(".fasta").split("_")[-1]) for i in files2]
seqs3 = [keepLongest(i, "contig" + i.rstrip(".fasta").split("_")[-1]) for i in files3]

try:
    os.mkdir(marvelDIR + 'filtered/combined/')
    os.mkdir(marvelDIR + 'filtered_m/combined/')
    os.mkdir(marvelDIR + 'filtered_mm/combined/')
except:
    pass

# write contigs
SeqIO.write(seqs1, marvelDIR + 'filtered/combined/combined_longest.fasta', "fasta")
SeqIO.write(seqs2, marvelDIR + 'filtered_m/combined/combined_longest.fasta', "fasta")
SeqIO.write(seqs3, marvelDIR + 'filtered_mm/combined/combined_longest.fasta', "fasta")

5

    %%bash
    find /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered/combined_longest.fasta | \
        xargs /g/steinmetz/brooks/anaconda/envs/py27/bin/quast \
        -o /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered/quast \
        -R /g/steinmetz/project/IESY/genomes/synIXR_scramble/JS734_ERCC92.fasta

    find /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered_m/*.fasta | \
        xargs /g/steinmetz/brooks/anaconda/envs/py27/bin/quast \
        -o /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered_m/quast \
        -R /g/steinmetz/project/IESY/genomes/synIXR_scramble/JS734_ERCC92.fasta

    find /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered_mm/*.fasta | \
        xargs /g/steinmetz/brooks/anaconda/envs/py27/bin/quast \
        -o /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered_mm/quast \
        -R /g/steinmetz/project/IESY/genomes/synIXR_scramble/JS734_ERCC92.fasta

    find /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered/combined/*.fasta | \
        xargs /g/steinmetz/brooks/anaconda/envs/py27/bin/quast \
        -o /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered/combined/quast \
        -R /g/steinmetz/project/IESY/genomes/synIXR_scramble/JS734_ERCC92.fasta

    find /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered_m/combined/*.fasta | \
        xargs /g/steinmetz/brooks/anaconda/envs/py27/bin/quast \
        -o /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered_m/combined/quast \
        -R /g/steinmetz/project/IESY/genomes/synIXR_scramble/JS734_ERCC92.fasta

    find /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered_mm/combined/*.fasta | \
        xargs /g/steinmetz/brooks/anaconda/envs/py27/bin/quast \
        -o /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered_mm/combined/quast \
        -R /g/steinmetz/project/IESY/genomes/synIXR_scramble/JS734_ERCC92.fasta

    find /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered/combined/combined_longest_oneliner.fasta | \
        xargs /g/steinmetz/brooks/anaconda/envs/py27/bin/quast \
        -o /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered/combined/quast_oneliner \
        -R /g/steinmetz/project/IESY/genomes/synIXR_scramble/JS734_ERCC92.fasta

Resulting files:

filtered: [individual](../../IESY/sequencing/Results/PacBio/marvel/filtered/quast/report.html) / [combined](../../IESY/sequencing/Results/PacBio/marvel/filtered/combined/quast/report.html)

filtered_m: [individual](../../IESY/sequencing/Results/PacBio/marvel/filtered_m/quast/report.html) / [combined](../../IESY/sequencing/Results/PacBio/marvel/filtered_m/combined/quast/report.html)

filtered_mm: [individual](../../IESY/sequencing/Results/PacBio/marvel/filtered_mm/quast/report.html) / [combined](../../IESY/sequencing/Results/PacBio/marvel/filtered_mm/combined/quast/report.html)

As a quick summary, the MARVEL contigs have really poor mapping to the reference genome in analysis by QUAST. This, however, might be due to there being no error correction? Or to the format of this fasta? This is unlike the Canu assembly, which maps well. 

First I checked the format problem. I made the combined fasta into a one-liner with:

    seqtk seq -l0 -U /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered/combined/combined_longest.fasta > /home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered/combined/combined_longest_oneliner.fasta
    
I then ran this file with QUAST. Results [here](../../IESY/sequencing/Results/PacBio/marvel/filtered/combined/quast_oneliner/report.html): 

Still nothing. Largest alignment is only 345 nt!!!

So, to check this I run MUMmer, which is hopefully less sensitive.

In [4]:
ref = "/home/brooks/IESY/genomes/synIXR_scramble/JS734_ERCC92.fasta"
query_marvel = "/home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered/combined/combined_longest.fasta"
query_marvel_1 = "/home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered/combined/combined_longest_oneliner.fasta"
query_marvel_00000 = "/home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered/YEAST_FIX.filtered_00000.fasta"
query_marvel_00004 = "/home/brooks/IESY/sequencing/Results/PacBio/marvel/filtered/YEAST_FIX.filtered_00004.fasta"
query_canu = "/home/brooks/IESY/sequencing/Results/PacBio/Canu/AB/JS734_combined/JS734_combined.contigs.fasta"
query_marvel_mummer = utils.runMummer(ref, query_marvel, deltafilter=True)
query_marvel_1_mummer = utils.runMummer(ref, query_marvel_1, deltafilter=True)
query_marvel_00000_mummer = utils.runMummer(ref, query_marvel_00000, deltafilter=True)
query_marvel_00004_mummer = utils.runMummer(ref, query_marvel_00004, deltafilter=True)
canu_mummer = utils.runMummer(ref, query_canu, deltafilter=True)

In [7]:
query_marvel_mummer

Empty DataFrame
Columns: [S1, E1, S2, E2, LEN_1, LEN_2, %_IDY, LEN_R, LEN_Q, FRM, NAME_R, NAME_Q]
Index: []

In [6]:
query_marvel_00000_mummer

,S1,E1,S2,E2,LEN_1,LEN_2,%_IDY,LEN_R,LEN_Q,FRM,NAME_R,NAME_Q
0,169206,200103,7629,37259,30898,29631,89.05,316620,149385,1,chrIII,path_10
1,200851,315269,37887,149385,114419,111499,89.81,316620,149385,1,chrIII,path_10
2,293032,294617,36579,38129,1586,1551,88.88,316620,149385,1,chrIII,path_10
3,304043,316620,1,12037,12578,12037,86.61,316620,12683,1,chrIII,path_11
4,781245,782163,141639,142520,919,882,82.81,784333,149385,1,chrXIV,path_10
5,781245,782163,2941,3822,919,882,82.81,784333,12683,1,chrXIV,path_11

No results from MUMer on combined file, but results on individual files. Weird. Will run them individually then...

In [13]:
df_list_1 = []
for i in files1:
    name = i.split("/")[-1]
    df = utils.runMummer(ref,i)
    df = df.assign(tig = name)
    df_list_1.append(df)
df_list_2 = []
for i in files2:
    name = i.split("/")[-1]
    df = utils.runMummer(ref,i)
    df = df.assign(tig = name)
    df_list_2.append(df)
df_list_3 = []
for i in files3:
    name = i.split("/")[-1]
    df = utils.runMummer(ref,i)
    df = df.assign(tig = name)
    df_list_3.append(df)
marvel_filtered_mummer = pd.concat(df_list_1)
marvel_filtered_m_mummer = pd.concat(df_list_2)
marvel_filtered_mm_mummer = pd.concat(df_list_3)

In [14]:
marvel_filtered_mummer.query('NAME_R == "JS734_1"').sort_values("LEN_2",ascending=False)

,S1,E1,S2,E2,LEN_1,LEN_2,%_IDY,LEN_R,LEN_Q,FRM,NAME_R,NAME_Q,tig
3,27236,66463,55215,16910,39228,38306,90.47,66463,55223,1,JS734_1,path_0,YEAST_FIX.filtered_00020.fasta
0,3786,30274,2,26895,26489,26894,87.03,66463,26895,1,JS734_1,path_0,YEAST_FIX.filtered_00023.fasta
2,18253,32793,56,14958,14541,14903,88.12,66463,55223,1,JS734_1,path_0,YEAST_FIX.filtered_00020.fasta
0,1,10027,16909,6771,10027,10139,89.64,66463,55223,1,JS734_1,path_0,YEAST_FIX.filtered_00020.fasta
2,24739,30970,6904,2,6232,6903,85.91,66463,26895,1,JS734_1,path_0,YEAST_FIX.filtered_00023.fasta
1,1962,7520,49728,55215,5559,5488,91.92,66463,55223,1,JS734_1,path_0,YEAST_FIX.filtered_00020.fasta
1,4482,10027,26895,21583,5546,5313,88.43,66463,26895,1,JS734_1,path_0,YEAST_FIX.filtered_00023.fasta
5,36640,38749,47695,49763,2110,2069,90.31,66463,55223,1,JS734_1,path_0,YEAST_FIX.filtered_00020.fasta
4,32761,34870,43966,45985,2110,2020,88.34,66463,55223,1,JS734_1,path_0,YEAST_FIX.filtered_00020.fasta
1,1307,1948,1011,1622,642,612,90.38,66463,64855,1,JS734_1,path_0,YEAST_FIX.filtered_00022.fasta
0,4,529,1008,483,526,526,87.34,66463,64855,1,JS734_1,path_0,YEAST_FIX.filtered_00022.fasta

In [15]:
marvel_filtered_m_mummer.query('NAME_R == "JS734_1"').sort_values("LEN_2",ascending=False)

,S1,E1,S2,E2,LEN_1,LEN_2,%_IDY,LEN_R,LEN_Q,FRM,NAME_R,NAME_Q,tig
3,27236,66463,55053,16910,39228,38144,90.29,66463,55061,1,JS734_1,path_0,YEAST_FIX.filtered_m_00020.fasta
0,3786,30274,2,26895,26489,26894,87.03,66463,26895,1,JS734_1,path_0,YEAST_FIX.filtered_m_00023.fasta
2,18253,32793,56,14958,14541,14903,88.12,66463,55061,1,JS734_1,path_0,YEAST_FIX.filtered_m_00020.fasta
0,1,10027,16909,6771,10027,10139,89.64,66463,55061,1,JS734_1,path_0,YEAST_FIX.filtered_m_00020.fasta
2,24739,30970,6904,2,6232,6903,85.91,66463,26895,1,JS734_1,path_0,YEAST_FIX.filtered_m_00023.fasta
1,1965,7520,49621,55053,5556,5433,91.82,66463,55061,1,JS734_1,path_0,YEAST_FIX.filtered_m_00020.fasta
1,4482,10027,26895,21583,5546,5313,88.43,66463,26895,1,JS734_1,path_0,YEAST_FIX.filtered_m_00023.fasta
4,32761,34870,43966,45985,2110,2020,88.34,66463,55061,1,JS734_1,path_0,YEAST_FIX.filtered_m_00020.fasta
5,36640,38749,47670,49650,2110,1981,87.14,66463,55061,1,JS734_1,path_0,YEAST_FIX.filtered_m_00020.fasta
1,1307,1948,1011,1622,642,612,90.38,66463,64855,1,JS734_1,path_0,YEAST_FIX.filtered_m_00022.fasta
0,4,529,1008,483,526,526,87.34,66463,64855,1,JS734_1,path_0,YEAST_FIX.filtered_m_00022.fasta

In [16]:
marvel_filtered_mm_mummer.query('NAME_R == "JS734_1"').sort_values("LEN_2",ascending=False)

,S1,E1,S2,E2,LEN_1,LEN_2,%_IDY,LEN_R,LEN_Q,FRM,NAME_R,NAME_Q,tig
6,27236,66463,55053,16910,39228,38144,90.29,66463,55061,1,JS734_1,path_0,YEAST_FIX.filtered_mm_00002.fasta
2,3786,30274,25560,1,26489,25560,87.66,66463,25561,1,JS734_1,path_1,YEAST_FIX.filtered_mm_00002.fasta
4,18253,32793,56,14958,14541,14903,88.12,66463,55061,1,JS734_1,path_0,YEAST_FIX.filtered_mm_00002.fasta
0,1,10027,16909,6771,10027,10139,89.64,66463,55061,1,JS734_1,path_0,YEAST_FIX.filtered_mm_00002.fasta
5,24729,30970,19461,25560,6242,6100,87.29,66463,25561,1,JS734_1,path_1,YEAST_FIX.filtered_mm_00002.fasta
1,1965,7520,49621,55053,5556,5433,91.82,66463,55061,1,JS734_1,path_0,YEAST_FIX.filtered_mm_00002.fasta
3,4482,10027,1,5313,5546,5313,88.43,66463,25561,1,JS734_1,path_1,YEAST_FIX.filtered_mm_00002.fasta
7,32761,34870,43966,45985,2110,2020,88.34,66463,55061,1,JS734_1,path_0,YEAST_FIX.filtered_mm_00002.fasta
8,36640,38749,47670,49650,2110,1981,87.14,66463,55061,1,JS734_1,path_0,YEAST_FIX.filtered_mm_00002.fasta
1,1307,1948,1011,1622,642,612,90.38,66463,64855,1,JS734_1,path_0,YEAST_FIX.filtered_mm_00003.fasta
0,4,529,1008,483,526,526,87.34,66463,64855,1,JS734_1,path_0,YEAST_FIX.filtered_mm_00003.fasta

In [17]:
canu_mummer.query('NAME_R == "JS734_1"').sort_values("LEN_2",ascending=False)

,S1,E1,S2,E2,LEN_1,LEN_2,%_IDY,LEN_R,LEN_Q,FRM,NAME_R,NAME_Q
7,33334,66463,1,33050,33130,33050,99.76,66463,74238,1,JS734_1,tig00000329
3,1961,32795,65812,35007,30835,30806,99.91,66463,74238,1,JS734_1,tig00000329
4,24729,41252,57756,74238,16524,16483,99.75,66463,74238,1,JS734_1,tig00000329
0,1,10034,33051,43073,10034,10023,99.87,66463,74238,1,JS734_1,tig00000329
5,32761,34870,5373,3265,2110,2109,99.95,66463,74238,1,JS734_1,tig00000329
9,36640,38749,67886,65778,2110,2109,99.95,66463,74238,1,JS734_1,tig00000329
6,32761,34870,71752,69652,2110,2101,99.57,66463,74238,1,JS734_1,tig00000329
8,36640,38176,1510,1,1537,1510,98.24,66463,74238,1,JS734_1,tig00000329
2,1307,1961,70808,70158,655,651,99.39,66463,71746,1,JS734_1,tig00000330
1,1,529,70809,71335,529,527,96.98,66463,71746,1,JS734_1,tig00000330